.knob {
    user-select: none;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    flex-shrink: 0;
}

.knob-label {
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
    width: 100%;
    text-align: center;
    overflow-wrap: break-word;
    height: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.knob-control {
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
    height: 24px;
    padding: 4px 10px;
    position: relative;
    box-sizing: border-box;
}

.knob-circle {
    background-color: hsl(240, 20%, 5%);
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 9999px;
    position: relative;
}

.knob-line {
    position: absolute;
    width: 7%;
    height: 40%;
    border-radius: 9999px;
    background-color: hsl(216, 7%, 87%);

    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(7%);
}