.cm-editor .tok-keyword {
    color: #9254a2;
}

.cm-editor .tok-operator {
    color: #56b6c2;
}

.cm-editor .tok-identifier {
    color: #abb2bf;
}

.cm-editor .tok-number {
    color: #ffd87a;
}

.cm-editor .tok-string {
    color: #98c379;
}

.cm-editor .tok-punct {
    color: #5c6370;
}

.cm-editor .tok-unit {
    color: hsl(197, 35%, 62%);
}

.cm-editor .tok-class {
    color: hsl(0, 100%, 50%);
}


.cm-editor .tok-socket {
    color: var(--socket-color);
}

.cm-editor .tok-output {
    color: var(--output-color);
}

.cm-editor .tok-constdef {
    color: hsl(0, 0%, 100%);
}

.cm-editor .tok-const {
    color: hsl(0, 0%, 84%);
}

.cm-editor .tok-builtin {
    color: hsl(284, 100%, 78%);
}

.cm-editor .tok-class-Oscillator {
    color: var(--class-color-Oscillator);
}
.cm-editor .tok-class-Envelope {
    color: var(--class-color-Envelope);
}
.cm-editor .tok-class-Filter {
    color: var(--class-color-Filter);
}
.cm-editor .tok-class-Effect {
    color: var(--class-color-Effect);
}
.cm-editor .tok-class-UserInterface {
    color: var(--class-color-UserInterface);
}
.cm-editor .tok-class-Utility {
    color: var(--class-color-Utility);
}

.cm-editor .tok-const.tok-known-class,
.cm-editor .tok-builtin.tok-known-class {
    filter: saturate(0.9) brightness(0.9);
}
