button.rebuild {
    background-color: hsl(217, 100%, 59%);
    color: hsl(0, 0%, 0%);
    border: none;
    padding: 6px 10px;
    display: inline-block;
    font-size: 14px;
    margin: 4px 0;
    border-radius: 4px;
}

button.rebuild:disabled {
    opacity: 65%;
}