.App-body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

html {
  scrollbar-width: thin; /* Can be "auto", "thin", or "none" */
  scrollbar-color: #474e5c #22272e; /* thumb color track color */
}